<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <div class="sidebar-head">
                <h4>Lâm Tiến</h4>
                <a href="#">Play now</a>
            </div>
            <div class="sidebar-menu">
                <a href="./index.html" class="sidebar-menu-item">
                    <span><i class="fa-solid fa-house"></i></span>
                    Trang chủ
                </a>
                <a href="./manageAdmin.html" class="sidebar-menu-item">
                    <span><i class="fa-solid fa-book"></i></span>
                    Quản trị Admin
                </a>
                <a href="./add.html" class="sidebar-menu-item">
                    <span><i class="fa-solid fa-arrow-trend-up"></i></span>
                    Thêm bài hát
                </a>
               
            </div>
            <div class="sidebar-foot">
                <a href="#" class="sidebar-menu-item">
                    <span><i class="fa-solid fa-gear"></i></span>
                    Cài đặt
                </a>
                <a href="#" class="sidebar-menu-item">
                    <span><i class="fa-solid fa-right-from-bracket"></i></span>
                    Login
                </a>
            </div>
        </div>
        <div class="content">
            <div class="content-head">
                <div class="search">
                    <input type="text" placeholder="Tìm kiếm tại đây !!!">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
                <div class="notify">
                    <i class="fa-regular fa-bell"></i>
                </div>
                <a href="#" class="avatar">
                    <img src="../public/images/avatar.jpg" alt="">
                </a>
            </div>
            
            <div class="content-main">
                <div class="content-main-head">
                    <h3># Title</h3>
                    <div class="content-main-head-icon">
                        Chỉnh sửa
                    </div>
                    <div class="content-main-head-icon">
                        Xóa 
                    </div>
                    <div class="content-main-head-icon">
                        Hiển thị
                    </div>
                </div>
                <div class="content-main-body ">
                    
                    
                </div>
                
            </div>
        </div>
        
        
    </div>
</body>

<script type="module" src="/Client/dist/manageForm.js"></script>
<script type="module" src="/Client/dist/sidebar.js"></script>

</html>